*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: white;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
.other-logo img{
    margin-left: 30px;
}
h3{
    color: red;
}
h1{
  color:rgba(10, 90, 205, 0.9)
}

.side-panel{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
#other-menu-aside-dashboard{
margin-top: 25px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
  .body-of-dashboard{
    display: flex;
    justify-content: space-between;
  }
  .basic-details{
    margin: 0 30px ;
    padding: 0 10px;
    
    background-color: white;
    display: grid;
    grid-template-columns: auto;
  }
  .basic-details-upper{
    border: 1px solid orange;
    border-radius: 15px;
    background-color: #96D4D4;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 7px;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 25px; 
  }
  .basic-detail-body{
    
    border-radius: 15px
  }
  .basic-detail-basic-details{
    /* grid-column-start: 2
    grid-column-end: */
  }
  .basic-details-head-body strong{
    /* border: 1px solid black; */
    margin-top: 5px;
    padding : 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .basic-details-head-body strong span{
    /* display: flex;  */
    /* grid-template-columns: auto auto auto; */

  }
  .basic-detail-body{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

  }
  .basic-detail-body-first{
    border: 1px solid brown;
    background-color:#96D4D4 ;
    border-radius: 15px;
    width: 72%;
    margin: 10px;
    padding: 5px;
  }
  .basic-detail-body-second{
    border: 1px solid brown;
    background-color:#96D4D4 ;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
 .basic-detail-body-second h2{
padding : 5px;
 }
 .basic-detail-body-second .table{
  margin: 5px;
  padding: 5px;
 }
  .basic-detail-body-button{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 50px 10px 0 0;
    
  }
  .basic-detail-body-button .delete{
    margin-right: 20px;
    background-color: rgb(243, 68, 68);
    border: 2px solid rgb(243, 68, 68);
    border-radius: 4px;
  }
  .basic-detail-body-button .edit{
    margin-right: 5px;
    background-color: rgb(34, 137, 255);
    border: 2px solid rgb(34, 137, 255);
    border-radius: 4px;
  }
