*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: lightblue;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
.other-logo{
    margin-left: 30px;
}
h3{
    color: red;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
  .body-of-dashboard{
    display: flex;
    justify-content: space-between;
  }
  .basic-details{
    display: grid;
    
  }