*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: white;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
.other-logo img{
    margin-left: 30px;
}
h3{
    color: red;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
  .body-of-dashboard{
    display: flex;
    justify-content: space-between;
  }
  .basic-details{
    margin: 0 30px ;
    padding: 0 10px;
    border: 2px solid black;
    background-color: #96D4D4;
    display: grid;
    grid-template-columns: auto;
  }
  .basic-details-upper{
    border: 1px solid orange;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 25px; 
  }
  .basic-detail-body{
    border: 2px solid orange;
  }
  .basic-detail-basic-details{
    /* grid-column-start: 2
    grid-column-end: */
  }
  .basic-details-head-body strong{
    border: 1px solid black;
    margin-top: 5px;
    padding : 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .basic-details-head-body strong span{
    /* display: flex;  */
    /* grid-template-columns: auto auto auto; */

  }